[Unit]
Description=Run metrics exporter
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bin/cosmos-exporter
TimeoutStartSec=600
Restart=always

[Install]
WantedBy=multi-user.target
