[Unit]
Description=Run cosmos validator node
After=network.target network-online.target

[Service]
{% if simd_args is defined and simd_args.keys()|length > 0 %}
{% set args = [] %}
{% for key, value in simd_args.items() %}
{{ args.append('--' + key) }}
{{ args.append(value) }}
{% endfor %}
ExecStart=/usr/local/bin/simd start {{ args | join(' ') }}
{% else %}
ExecStart=/usr/local/bin/simd start
{% endif %}

EnvironmentFile=/opt/simd_env

TimeoutStartSec=600
Restart=always
PrivateDevices=true
ProtectControlGroups=true
ProtectKernelTunables=true
ProtectSystem=full
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
